[submodule "RemembR"]
	path = RemembR
	url = https://github.com/groceryheist/RemembR
[submodule "bias_analysis/editquality"]
	path = editquality
	url = https://gerrit.wikimedia.org/r/scoring/ores/editquality
