wiki_weeks.csv filter=lfs diff=lfs merge=lfs -text
test_revisions_sample.csv filter=lfs diff=lfs merge=lfs -text
test_revisions_sample filter=lfs diff=lfs merge=lfs -text
test_revisions_sample2.csv filter=lfs diff=lfs merge=lfs -text
cutoff_revisions_sample.csv filter=lfs diff=lfs merge=lfs -text
historically_scored_sample.csv filter=lfs diff=lfs merge=lfs -text
ores_rcfilters_threshholds_updated.csv filter=lfs diff=lfs merge=lfs -text
ores_rcfilters_cutoffs_updated.csv filter=lfs diff=lfs merge=lfs -text
ores_rcfilters_cutoffs.csv filter=lfs diff=lfs merge=lfs -text
ores_rcfilters_threshholds.csv filter=lfs diff=lfs merge=lfs -text
manually_checked_threshholds.csv filter=lfs diff=lfs merge=lfs -text
